{{ 'component-image-comparison.css' | asset_url | stylesheet_tag }}

{%- style -%}
  .section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ section.settings.padding_bottom | times: 0.75 | round: 0 }}px;
  }

  @media screen and (min-width: 750px) {
    .section-{{ section.id }}-padding {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom }}px;
    }
  }
{%- endstyle -%}

<script>
function initComparisons() {
  var x, i;
  const node = document.getElementById("drag-icon").lastElementChild;
  /*find all elements with an "overlay" class:*/
  x = document.getElementsByClassName("img-comp-overlay");
  for (i = 0; i < x.length; i++) {
    /*once for each "overlay" element:
    pass the "overlay" element as a parameter when executing the compareImages function:*/
    compareImages(x[i]);
  }
  function compareImages(img) {
    var slider, img, clicked = 0, w, h;
    /*get the width and height of the img element*/
    w = img.offsetWidth;
    h = img.offsetHeight;
    /*set the width of the img element to 50%:*/
    img.style.width = (w / 2) + "px";
    /*create slider:*/
    slider = document.createElement("DIV");
    slider.setAttribute("class", "img-comp-slider");
    slider.appendChild(node);
    /*insert slider*/
    img.parentElement.insertBefore(slider, img);
    /*position the slider in the middle:*/
    slider.style.top = (h / 2) - (slider.offsetHeight / 2) + "px";
    slider.style.left = (w / 2) - (slider.offsetWidth / 2) + "px";
    /*execute a function when the mouse button is pressed:*/
    slider.addEventListener("mousedown", slideReady);
    /*and another function when the mouse button is released:*/
    window.addEventListener("mouseup", slideFinish);
    /*or touched (for touch screens:*/
    slider.addEventListener("touchstart", slideReady);
    /*and released (for touch screens:*/
    window.addEventListener("touchend", slideFinish);
    function slideReady(e) {
      /*prevent any other actions that may occur when moving over the image:*/
      e.preventDefault();
      /*the slider is now clicked and ready to move:*/
      clicked = 1;
      /*execute a function when the slider is moved:*/
      window.addEventListener("mousemove", slideMove);
      window.addEventListener("touchmove", slideMove);
    }
    function slideFinish() {
      /*the slider is no longer clicked:*/
      clicked = 0;
    }
    function slideMove(e) {
      var pos;
      /*if the slider is no longer clicked, exit this function:*/
      if (clicked == 0) return false;
      /*get the cursor's x position:*/
      pos = getCursorPos(e)
      /*prevent the slider from being positioned outside the image:*/
      if (pos < 0) pos = 0;
      if (pos > w) pos = w;
      /*execute a function that will resize the overlay image according to the cursor:*/
      slide(pos);
    }
    function getCursorPos(e) {
      var a, x = 0;
      e = (e.changedTouches) ? e.changedTouches[0] : e;
      /*get the x positions of the image:*/
      a = img.getBoundingClientRect();
      /*calculate the cursor's x coordinate, relative to the image:*/
      x = e.pageX - a.left;
      /*consider any page scrolling:*/
      x = x - window.pageXOffset;
      return x;
    }
    function slide(x) {
      /*resize the image:*/
      img.style.width = x + "px";
      /*position the slider:*/
      slider.style.left = img.offsetWidth - (slider.offsetWidth / 2) + "px";
    }
  }
}
</script>
<div class="section-{{ section.id }}-padding color-{{ section.settings.color_scheme }} isolate gradient page-width">
  <div class="comparison-container{% if section.settings.layout == 'text_first' %} image-with-text__grid--reverse{% endif %}">
    <div class="img-comp-container">
      <div class="img-comp-img">
        <img src="{{ section.settings.image_left | image_url: width: 1500 }}" width="1000px" height="auto" alt="{{ section.settings.image_left.alt }}">
      </div>
      <div class="img-comp-img img-comp-overlay">
        <img src="{{ section.settings.image_right | image_url: width: 1500 }}" width="1000px" height="auto" alt="{{ section.settings.image_right.alt }}">
      </div>
    </div>
    <div class="compare-content-container">
      <p class="h1">{{ section.settings.heading }}</p> 
      <p>Click and slide the blue slider to compare two images:</p>
    </div>
    <div id="drag-icon">
      <span>&#9776;</span>
    </div>
  </div>
</div>
<script>
initComparisons();
</script>
{% schema %}
  {
    "name": "Image Comparison",
    "tag": "section",
    "class": "section",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "t:sections.collage.settings.heading.default",
          "label": "t:sections.collage.settings.heading.label"
        },
        {
          "type": "image_picker",
          "id": "image_left",
          "label": "Left Image"
        },
        {
          "type": "image_picker",
          "id": "image_right",
          "label": "Right Image"
        },
        {
          "type": "select",
          "id": "layout",
          "options": [
            {
              "value": "image_first",
              "label": "t:sections.image-with-text.settings.layout.options__1.label"
            },
            {
              "value": "text_first",
              "label": "t:sections.image-with-text.settings.layout.options__2.label"
            }
          ],
          "default": "image_first",
          "label": "t:sections.image-with-text.settings.layout.label",
          "info": "t:sections.image-with-text.settings.layout.info"
        },
        {
          "type": "color_scheme",
          "id": "color_scheme",
          "label": "t:sections.all.colors.label",
          "info": "t:sections.all.colors.has_cards_info",
          "default": "scheme-1"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 36
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 36
        }
      ],
    "presets": [
      {
        "name": "Image Comparison",
      }
    ]
  }
{% endschema %}